{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb-typescript/base",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never"
      }
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "sort-imports": [
      "error"
    ],
    "semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/semi": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ]
  },
  "plugins": [
    "import"
  ]
}