h1 {
  color: red;
}

.card {
  display: block;
  border: 1px red solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

svg rect.green {
  stroke: yellowgreen;
  fill: greenyellow;
}

svg rect.red {
  stroke: red;
  fill: red;
}

svg rect.active {
  stroke: blue;
}

svg {
  width: 80%;
}
